*{
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;

}

.cabeçalho {
    color:rgb(213, 211, 216);
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #383D58;
    font-size: 15px;
    padding: 30px 0;    
     
}

.cabeçalho-imagem {
    width:7%;
    border-radius: 10px;

}

.cabeçalho-lista1 {
    display: inline-block;
    justify-content: space-around;
    margin:0 16px;
    font-size: 24px;
}

.projetos { 
    background-image:linear-gradient(#383D58, #4EBFE9);
    color:aliceblue;
    font-size: 21px;
    display:flex;
    justify-content: center;
    padding: 24px;

}

.projetos-título {
    padding: 30px;
        
}

.projeto-imagem-alunos {
    width:24%;
    height:24%;
    border-radius: 80px;
}

.estudante {
    background-image: linear-gradient(#D9D9D9, #D9D9D9);
    text-align: center;
    
}

.estudante-foto {
    width:120px;
}
.estudante-todos {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%
    
}